<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="Entity"/>
	</typeAliases>
    <mappers>
    	<!-- 所有mapper文件填写位置 -->
    	<mapper resource="Entity/user.mapper.xml"/>
    </mappers>
</configuration>